[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

# [package.metadata.bootimage]
# test-args = [
#     "-device", "isa-debug-exit,iobase=0xf4,iosize=0x04",
#     "-serial", "stdio",
#     "-display", "none"
# ]
# test-success-exit-code = 33 # (0x10 << 1) | 1
# test-timeout = 300

[[bin]]
name = "kernel"
test = false
bench = false

# [[test]]
# name = "should_panic"
# harness = false

# [[test]]
# name = "stack_overflow"
# harness = false

[dependencies]
bootloader_api = "0.11"
volatile = "0.2.6"
spin = "0.5.2"
x86_64 = "0.14.2"
uart_16550 = "0.2.0"
pic8259 = "0.10.4"
pc-keyboard = "0.5.0"
conquer-once = { version = "0.3.2", default-features = false }
spinning_top = "0.2.4"
log = "0.4.17"

[dependencies.lazy_static]
version = "1.0"
features = ["spin_no_std"]

[dependencies.noto-sans-mono-bitmap]
version = "0.2.0"
default-features = false
features = [
    "regular",
    "size_16",
    "unicode-basic-latin",
    # required for the fallback char 'ï¿½'
    "unicode-specials",
]